:root {
    font-family: Verdana, sans-serif;
    font-size: 62.5%;
    word-break: break-word;
    background-color: #efeff4;

    --max-width-view: 50vw;
    --max-width-main: 35rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

.jakobNielsenNightmareActive textarea:hover,
.jakobNielsenNightmareActive input:hover,
.jakobNielsenNightmareActive button:hover,
.jakobNielsenNightmareActive .file-upload:hover {
    color: red;
    visibility: hidden;
    /*position: absolute;*/
    margin-top: 0;

}

.jakobNielsenNightmareActive .formField:hover input,
.jakobNielsenNightmareActive .formField:hover button {
    margin-left: 100%;
}

.centerContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width-view);
    min-width: 320px;
    background-color: #fff;

    padding: 10px;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoImage {
    max-width: 200px;
    width: 100vw;
}

main {
    max-width: var(--max-width-main);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #02b4e0;
}

button, input[type="button"] {
    background-color: #2fc247; /* Divotion Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;

    border-radius: .5rem;
    cursor: pointer;
}

label {
    font-size: 1.8rem;
    color: #2fc247;
}

button:hover, input[type="button"]:hover {
    background-color: #72ed84;
}

.formField:not(:first-child) {
    margin-top: 2rem;
}

.labelForTextarea {
    display: inline-block;
    width: 100%;
}

textarea {
    border: 1px solid #2fc247;
    resize: none;

    height: 9em;
    width: 35rem;
    max-width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        filter: invert(1);
    }
}
