:root {

}


.jakobNielsenNightmareActive textarea:hover,
.jakobNielsenNightmareActive input:hover,
.jakobNielsenNightmareActive button:hover,
.jakobNielsenNightmareActive .file-upload:hover {
    color: red;
    visibility: hidden;
    position: absolute;
    margin-top: 0;
}

#logoImage {
    max-width: 200px;
    width: 100vw;
}

@media (prefers-color-scheme: dark) {
    :root {
        filter: invert(1);
    }
}
